pandas
numpy
scikit-learn
joblib
matplotlib
seaborn
ipykernel

#  library utama:
#
#   1.  pandas  (untuk manipulasi data)
#   2.  numpy  (untuk komputasi numerik)
#   3.  scikit-learn  (untuk pembuatan model ML)
#   4.  joblib  (untuk menyimpan model)
#   5.  matplotlib & seaborn (untuk visualisasi grafik / EDA)
#   6.  ipykernel (untuk menjalankan Jupyter Notebook)
#
#   ### Panduan Setup Pertama Kali
#
#
#   1. (Opsional) Buat Virtual Environment
#
#     python -m venv venv
#
#   2. Aktifkan Virtual Environment
#
#   • Di Windows (PowerShell/CMD):
#     .\venv\Scripts\activate
#
#   • Di Mac/Linux:
#     source venv/bin/activate
#
#   3. Install Semua Library Sekaligus
#   Karena kita sudah memiliki file  requirements.txt, jalankan ini:
#
#     pip install -r requirements.txt
